html, body {
    margin:0;
    padding:0;
    height:100%;
}
#phone {
    overflow: hidden;
    white-space: nowrap;
}
#phone p {
    font-weight: bold;
    font-size: 22px;
    color: #d11100;
}
#phone small {
    font-size: 13px;
}
#phone img {
    margin-top: 6px;
    padding: 0 3px;
}
.glowna-pobierz{
    margin-top: 100px;
}
#top {
    background-image: url("../img/menu_banner.png");
    background-repeat: no-repeat;
    color: #fff;
    width: 100%;
    /* whatever width you want */
    display: inline-block;
    position: relative;
    background-size: contain;
    margin: 0 auto;

}
#top:after {
    padding-top: 31%;
    /* this llama image is 800x600 so set the padding top % to match 600/800 = .75 */
    display: block;
    content: '';
}
#top_fr {
    background-image: url("../img/menu_banner_fr.png");
    background-repeat: no-repeat;
    color: #fff;
    width: 100%;
    /* whatever width you want */
    display: inline-block;
    position: relative;
    background-size: contain;
    margin: 0 auto;

}
#top_fr:after {
    padding-top: 31%;
    /* this llama image is 800x600 so set the padding top % to match 600/800 = .75 */
    display: block;
    content: '';
}
#bottom {
    background-image: url("../img/footer_banner.png");
    background-repeat: no-repeat;
    color: #fff;
    width: 100%;
    /* whatever width you want */
    display: inline-block;
    position: relative;
    background-size: contain;
    margin: 0 auto;
    padding: 0 auto;
}
#bottom:after {
    padding-top: 29%;
    /* this llama image is 800x600 so set the padding top % to match 600/800 = .75 */
    display: block;
    content: '';
    bottom: 0;
}

.footer{
    content: '';
    display: block;
    height: 72%;
    position: absolute;
    width: 50%;
    top: 50px;
    bottom: 0;
    left: -9999px;
    right: 0;
    border-left: 9999px solid #4f5459;
    box-shadow: 9999px 0 0 #4f5459;
}
.container-fluid{
    margin-left: 0  !important;
    padding-left: 0  !important;
}
.logo {
    z-index: 2;
}
.banner {
    z-index: 1;
}
.img-logo {
    position: absolute;
    bottom: 8px;
    left: 670px;
}
.img-profile {
    position: absolute;
    top: 60px;
}
.text-profile{
    position: absolute;
    top: 300px;
    left: 50px;
}
.partners {
    margin: 12px 0;
}
.partners-img {
    position: absolute;
    right: 230px;
}
.flex-center-vertically {
    padding-top: 40px;
    padding-bottom: 30px;

}
/* navbar */
.navbar {
    background: #d11100;
    position: absolute;
    bottom: 0;
    border-radius: 0;
    border: 0;
    margin-left: 12%;
    margin-right: 12%;
    padding: 0 !important;
    padding-right: 90px !important;
    min-height: 28px !important;
}

.navbar-nav > li > a {
    padding-top:4px !important;
    padding-bottom:0 !important;

}
.navbar  a{
    color: #fff;
    font-size: 16px;
}
.nav-item:hover {
      background: #460d00;
      min-height: 28px !important;
  }
.dropdown:hover {
    background: #460d00 !important;
    min-height: 28px !important;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    background-color: #460d00 !important;
    min-height: 28px !important;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:active, .dropdown-menu>li>a:visited {
    background-color: #460d00 !important;
    min-height: 28px !important;

}

.carousel-li {
    position: relative;
    display: block;
    padding: 10px 15px;
    background: none;
    border: 0;
}
.navbar-nav, .nav-item {
    padding: 0 !important;
}
.fa {
    font-size: 6px !important;
    margin-top: 11px;
    padding: 0 5px;
}
/* footer */
.fotbar {
    background: #4f5459;
    position: relative;

    bottom: 70px;
    border-radius: 0;
    border: 0;
    margin: 0 !important;
    padding: 0 !important;
    min-height: 28px !important;
}
.fotbar-nav > li > a {
    padding-top: 4px !important;
    padding-bottom:0 !important;
}
.fotbar  a{
    color: #fff;
    font-size: 14px;
}

.fotbar  ul li a:hover {
    color: #fff !important;
    background: none;
    min-height: 28px !important;
}
.fotbar-nav, .nav-item {
    padding: 0 !important;
}
.fot-item:hover {
    background: #303233;
    min-height: 28px !important;
}
.fa-fot {
    font-size: 6px !important;
    margin-top: 11px;
    padding: 0!important;
}
/* carousel */
.media-carousel
{
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
    margin-top: 30px;

}
/* Previous button  */
.media-carousel .carousel-control.left
{
    background-image: url("../img/slider_prev.png") !important;
    left: 0px !important;
    width: 63px;
    margin-top: 120px;
    z-index: 1;
}
/* Next button  */
.media-carousel .carousel-control.right
{
    background-image: url("../img/slider_next.png") !important;
    right: 0px !important;
    width: 63px;
    margin-top: 120px;
    z-index: 1;

}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators
{
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li
{
    background: #c0c0c0;
}
.media-carousel .carousel-indicators .active
{
    background: #333333;
}

.carousel-inner{
    z-index: 2;
    -webkit-box-shadow: 0px 40px 86px -20px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 40px 86px -20px rgba(0,0,0,0.75);
    box-shadow: 0px 40px 86px -20px rgba(0,0,0,0.75);
}
.media-carousel img
{
    width: 204px;
    height: 329px;

}
/* End carousel */

/* Vertical menu */
.menu-left {
    left: 20px !important;
}
.menu-left>li.active>a, .menu-left>li.active>a:hover, .menu-left>li.active>a:focus {
    color: #fff !important;
    background-color: #428bca !important;
}

.menu-left>li>a {
    border-radius: 0px;
    padding-top:2px !important;
    padding-bottom:0!important;
}

a {
    color: #fff !important;
    text-decoration: none !important;
}

a:hover {
    color: #fff ;
    text-decoration: none ;
}

.menu-left>li {
    margin-top: 0 ;
    margin-left: 0 ;
    margin-bottom: 22px ;
    background: #c44629 ;
    font-size: 20px ;
    padding: 0 ;
    min-height: 20px ;

}

/*End vertical menu*/
.break {
    padding: 20px 0;
}
.menu-img-rounded {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
    border: 4px solid #fff;
    border-radius: 25px;

}

.list-group-item.title {
    background: transparent;
    border: 0;
    text-align: left;
}
.list-group-item.title:hover {
	background: transparent;
}

.list-group-item.title a {
    color: #99341C !important;
}

.list-group-item:hover{
    background: #99341c;
}
.show-menu {
    position: absolute;
    height: 100%;
    width: 24px;
    top: -12px;
    right: -8px;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.show-menu2 {
    position: absolute;
    height: 100%;
    width: 24px;
    top: -8px;
    right: 4px;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.show-carousel {
    position: absolute;
    top: -300px !important;
    right: -220px !important;
    cursor: pointer;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.katalog{
    border-radius: 0px !important;
    border-top: 2px solid #b82200;
    border-bottom: 4px double #b82200;
    margin-bottom: 50px !important;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f7f7+0,efefef+50,c44629+50,c44629+50,c44629+71,c44629+100 */
    background: #f7f7f7 !important; /* Old browsers */
    background: -moz-linear-gradient(top,  #f7f7f7 0%, #efefef 45%, #b82200 45%, #b82200 45%, #b82200 66%, #b82200 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f7f7f7 0%,#efefef 45%,#b82200 45%,#b82200 45%,#b82200 66%,#b82200 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f7f7f7 0%,#efefef 45%,#b82200 45%,#b82200 45%, #b82200 66%,#b82200 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#b82200',GradientType=0 ) !important; /* IE6-9 */

}
.katalog:hover{
    background: #651604!important;
}
.dropdown-menu>li {
    background: #d11100 !important;
}
.dropdown-menu>li>a:hover{
    background: #651604 !important;
}

.p1{
    color: #b82200;
    font-size: 21px;
    margin: -2px 0 -12px 0;
    padding: 0 !important;
}
.p2{
    margin: -2px 0 -12px 0;
    font-size: 34px !important;
    font-weight: bold;
    padding: 0 !important;
}
.text-index{
    color: #4f4f4f;
    padding: 0 60px ;
    text-align: justify;
    line-height: 25px;
}

@media (max-width:1200px) {
    .partners-img {
        position: absolute;
        right: 120px;
    }
    .flex-center-vertically {
        padding-top: 30px;
        padding-bottom: 20px;

    }
    .fotbar {
        background: #4f5459;
        position: absolute;
        bottom: 50px;
        border-radius: 0;
        border: 0;
        margin: 0 !important;
        padding: 0 !important;
        min-height: 28px !important;
    }
    .fotbar-nav > li > a {
        padding-top: 4px !important;
        padding-bottom:0 !important;
    }
    .fotbar  a{
        color: #fff;
        font-size: 14px;
    }

    .fotbar  ul li a:hover {
        color: #fff !important;
        background: none;
        min-height: 28px !important;
    }
    .fotbar-nav, .nav-item {
        padding: 0 !important;

    }
    .fa-fot {
        font-size: 6px !important;
        margin-top: 11px;
        padding: 0!important;
    }
    .footer{
        content: '';
        display: block;
        height: 72%;
        position: absolute;
        width: 50%;
        top: 40px;
        bottom: 0;
        left: -9999px;
        right: 0;
        border-left: 9999px solid #4f5459;
        box-shadow: 9999px 0 0 #4f5459;
    }
    .img-logo {
        position: absolute;
        bottom: 8px;
        left: 540px;
    }
    .logo {
        z-index: 2;
        top: -50px;
        left: -50px;
    }
    .show-carousel {
        top: -230px !important;
        right: -120px !important;

    }
    .navbar {
        min-width: 730px;
    }
    .media-carousel img {
        width: 154px;
        height: 259px;
    }
    /* Previous button  */
    .media-carousel .carousel-control.left {
        background-image: url("../img/slider_prev.png") !important;
        left: 0px !important;
        width: 63px;
        margin-top: 90px;
        z-index: 1;
    }

    /* Next button  */
    .media-carousel .carousel-control.right {
        background-image: url("../img/slider_next.png") !important;
        right: 0px !important;
        width: 63px;
        margin-top: 90px;
        z-index: 1;

    }
}

@media (max-width:990px) {
    .logo {
        z-index: 2;
        top: -60px !important;
        left: -120px !important;
    }
    .navbar {
        min-width: 730px;
        top: 200px;
        left: -100px;
    }

    .show-carousel {
        top: -220px !important;
    }

    .media-carousel img {
        width: 137px;
        height: 229px;
    }

    /* Previous button  */
    .media-carousel .carousel-control.left {
        background-image: url("../img/slider_prev.png") !important;
        left: 0px !important;
        width: 63px;
        margin-top: 80px;
        z-index: 1;
    }

    /* Next button  */
    .media-carousel .carousel-control.right {
        background-image: url("../img/slider_next.png") !important;
        right: 0px !important;
        width: 63px;
        margin-top: 80px;
        z-index: 1;

    }
    .text-index {
        color: #4f4f4f;
        padding: 0 20px;
        text-align: justify;
        line-height: 25px;
    }

    .glowna-pobierz {
        margin-top: 30px;
    }

    .footer {
        content: '';
        display: block;
        height: 72%;
        position: absolute;
        width: 50%;
        top: 30px;
        bottom: 0;
        left: -9999px;
        right: 0;
        border-left: 9999px solid #4f5459;
        box-shadow: 9999px 0 0 #4f5459;

    }
    .partners-img {
        position: absolute;
        top: 20px;
        right: 210px;
    }
    .img-logo {
        position: absolute;
        bottom: 3px;
        left: 370px;
    }
    .flex-center-vertically {
        position: absolute;
         padding-top: 0;
         padding-bottom: 0;
         top: -5px;
         left: 630px;
     }
    .flex-center-vertically p {
        font-size: smaller;
    }

    .fotbar {
        background: #4f5459;
        position: absolute;
        bottom: 50px;
        top: 75px;
        border-radius: 0;
        border: 0;
        margin: 0 !important;
        padding: 0 !important;
        min-height: 28px !important;
    }
    .show-menu2 {
        position: absolute;
        height: 100%;
        width: 24px;
        top: -8px;
        right: 22px;
        cursor: pointer;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }
    #phone{
        padding-left: 450px;
    }
}
@media (max-width:760px) {
    .logo {
        z-index: 2;
        left: -170px !important;
    }
    .navbar {
        min-width: 730px;
        top: 200px;
        left: -100px;
    }
    #top {
        top: -180px;
    }

    .nav>li {
        display: inline-block;
        left: 20px;
        top: -8px;
    }

    .nav>li>a {
        padding: 10px;
    }
    .media-carousel img {
        width: 119px;
        height: 200px;
    }
    .show-carousel {
        top: -180px !important;
        right: -50px !important;
    }
    /* Previous button  */
    .media-carousel .carousel-control.left {
        background-image: url("../img/slider_prev.png") !important;
        left: 0px !important;
        width: 63px;
        margin-top: 60px;
        z-index: 1;
    }

    /* Next button  */
    .media-carousel .carousel-control.right {
        background-image: url("../img/slider_next.png") !important;
        right: 0px !important;
        width: 63px;
        margin-top: 60px;
        z-index: 1;

    }
    .banner {
        margin-bottom: -170px !important;
    }
    .partners-img {
        position: absolute;
        top: 20px;
        right: -510px;
        height: 67px;
        width: 597px;
    }
    .fotbar {
        min-width: 500px !important;
        background: #4f5459;
        position: absolute;
        bottom: 50px;
        top: 40px;
        border-radius: 0;
        border: 0;
        margin: 0 !important;
        padding: 0 !important;
        min-height: 28px !important;
    }
    #phone{
        padding-left: 400px;
    }
    .fotbar-nav>li {
        left: 100px;

    }
    .flex-center-vertically {
        position: absolute;
        padding-top: 0;
        padding-bottom: 0;
        top: -5px;
        left: 590px;
    }
}
@media (max-width:450px) {

    /* navbar */
    .navbar {
        background: #d11100;
        position: relative;
        bottom: 0;
        border-radius: 0;
        border: 0;
        top: 210px;
        margin-left: 32%;
        margin-right: 44%;
        padding-top: 15px !important;
        padding-right: 0px !important;
        padding-left: 0px !important;
        min-height: 28px !important;
        min-width: 400px;
    }
    .nav>li {
        display: block;
        left: 0px;
        top: -8px;
        text-align: center;
    }
    .navbar-nav > li > a {
        padding-top:0 !important;
        padding-bottom:0 !important;

    }
    .navbar  a{
        color: #fff;
        font-size: 16px;
    }
    nav ul li a:hover {
        font-weight: bold;
        color: #d11100; !important;
        min-height: 28px !important;
    }
    .navbar-nav, .nav-item {
        padding: 0 !important;
    }
    .fa {
        visibility: hidden;
        font-size: 6px !important;
        margin-top: 11px;
        padding: 0px;
    }
    .show-carousel {
        top: 180px !important;
        right: 50px !important;
    }
    .media-carousel img {
        width: 214px;
        height: 359px;
    }
    .media-carousel .carousel-control.left {
        background-image: url("../img/slider_prev.png") !important;
        left: 0px !important;
        width: 63px;
        margin-top: 158px;
        z-index: 1;
    }

    /* Next button  */
    .media-carousel .carousel-control.right {
        background-image: url("../img/slider_next.png") !important;
        right: 0px !important;
        width: 63px;
        margin-top: 158px;
        z-index: 1;

    }
    .banner {
        margin-bottom: 260px !important;
    }
    #top {
        background-image: none;
        background-repeat: no-repeat;
        color: #fff;
        width: 100%;
        /* whatever width you want */
        display: inline-block;
        position: relative;
        background-size: contain;
        margin: 0 auto;
    }
    .logo {
        z-index: 2;
        top: 25px !important;
        left: -70px !important;

    }
    #phone{
        padding-left: 30px;
    }
    .fotbar {
        min-width: 452px !important;
        background: #4f5459;
        bottom: 50px;
        top: 266px;
        left:-15px;
        border-radius: 0;
        border: 0;
        border-top: 3px solid #fff;
        padding-top: 10px !important;
        margin: 0 !important;
        min-height: 28px !important;
    }
    .fotbar-nav>li {
        display: block;
        left: 0px;
        top: -8px;
        text-align: center;
        padding: 0 !important;

     }
    .partners-img {
        position: absolute;
        top: 20px;
        right: -310px;
        height: 45px;
        width: 400px;
    }
    .footer {
        content: '';
        display: block;
        height: 310px;
        position: absolute;
        width: 50%;
        top: 20px;
        bottom: 0;
        left: -9999px;
        right: 0;
        border-left: 9999px solid #4f5459;
        box-shadow: 9999px 0 0 #4f5459;
    }
    #bottom {
        background-image: url("../img/footer_banner.png");
        background-repeat: repeat;
        color: #fff;
        width: 100%;
        height: 555px;
        /* whatever width you want */
        display: inline-block;
        position: relative;
        background-size: contain;
        margin: 0 auto;
        padding: 0 auto;
    }
    .flex-center-vertically {
        position: absolute;
        padding-top: 0;
        padding-bottom: 0;
        top: 80px;
        left: 120px;
    }
    .flex-center-vertically p {
        font-size: large;
    }
    .img-logo {
        position: absolute;
        bottom: 4px;
        left: 220px;
    }
    .fotbar-nav>li>a{
        padding: 0 auto !important;
        margin: 0 auto !important;
    }
    .nav> li>a{
        padding: 0 auto !important;
        margin: 0 auto !important;
    }
}
@media (max-width:414px) {

    /* navbar */
    .navbar {
        background: #d11100;
        position: relative;
        bottom: 0;
        border-radius: 0;
        border: 0;
        top: 210px;
        margin-left: 28%;
        margin-right: 44%;
        padding-top: 15px !important;
        padding-right: 0px !important;
        padding-left: 0px !important;
        min-height: 28px !important;
        min-width: 400px;
    }
    .nav>li {
        display: block;
        left: 0px;
        top: -8px;
        text-align: center;
    }
    .navbar-nav > li > a {
        padding-top:0 !important;
        padding-bottom:0 !important;

    }
    .navbar  a{
        color: #fff;
        font-size: 16px;
    }
    nav ul li a:hover {
        font-weight: bold;
        color: #d11100; !important;
        min-height: 28px !important;
    }
    .navbar-nav, .nav-item {
        padding: 0 !important;
    }
    .fa {
        visibility: hidden;
        font-size: 6px !important;
        margin-top: 11px;
        padding: 0px;
    }
    .show-carousel {
        top: 180px !important;
        right: 50px !important;
    }
    .media-carousel img {
        width: 214px;
        height: 359px;
    }
    .media-carousel .carousel-control.left {
        background-image: url("../img/slider_prev.png") !important;
        left: 0px !important;
        width: 63px;
        margin-top: 158px;
        z-index: 1;
    }

    /* Next button  */
    .media-carousel .carousel-control.right {
        background-image: url("../img/slider_next.png") !important;
        right: 0px !important;
        width: 63px;
        margin-top: 158px;
        z-index: 1;

    }
    .banner {
        margin-bottom: 260px !important;
    }
    #top {
        background-image: none;
        background-repeat: no-repeat;
        color: #fff;
        width: 100%;
        /* whatever width you want */
        display: inline-block;
        position: relative;
        background-size: contain;
        margin: 0 auto;
    }
    .logo {
        z-index: 2;
        top: 25px !important;
        left: -110px !important;

    }
    #phone{
        padding-left: 30px;
    }
    .fotbar {
        min-width: 414px !important;
        background: #4f5459;
        bottom: 50px;
        top: 266px;
        left:-15px;
        border-radius: 0;
        border: 0;
        border-top: 3px solid #fff;
        padding-top: 10px !important;
        margin: 0 !important;
        min-height: 28px !important;
    }
    .fotbar-nav>li {
        display: block;
        left: 0px;
        top: -8px;
        text-align: center;
        padding: 0 !important;

    }
    .partners-img {
        position: absolute;
        top: 20px;
        right: -310px;
        height: 45px;
        width: 400px;
    }
    .footer {
        content: '';
        display: block;
        height: 310px;
        position: absolute;
        width: 50%;
        top: 20px;
        bottom: 0;
        left: -9999px;
        right: 0;
        border-left: 9999px solid #4f5459;
        box-shadow: 9999px 0 0 #4f5459;
    }
    #bottom {
        background-image: url("../img/footer_banner.png");
        background-repeat: repeat;
        color: #fff;
        width: 100%;
        height: 555px;
        /* whatever width you want */
        display: inline-block;
        position: relative;
        background-size: contain;
        margin: 0 auto;
        padding: 0 auto;
    }
    .flex-center-vertically {
        position: absolute;
        padding-top: 0;
        padding-bottom: 0;
        top: 80px;
        left: 120px;
    }
    .flex-center-vertically p {
        font-size: large;
    }
    .img-logo {
        position: absolute;
        bottom: 4px;
        left: 200px;
    }
    .fotbar-nav>li>a{
        padding: 0 auto !important;
        margin: 0 auto !important;
    }
    .nav> li>a{
        padding: 0 auto !important;
        margin: 0 auto !important;
    }
}@media (max-width:1200px) {
    .partners-img {
        position: absolute;
        right: 120px;
    }
    .flex-center-vertically {
        padding-top: 30px;
        padding-bottom: 20px;

    }
    .fotbar {
        background: #4f5459;
        position: absolute;
        bottom: 50px;
        border-radius: 0;
        border: 0;
        margin: 0 !important;
        padding: 0 !important;
        min-height: 28px !important;
    }
    .fotbar-nav > li > a {
        padding-top: 4px !important;
        padding-bottom:0 !important;
    }
    .fotbar  a{
        color: #fff;
        font-size: 14px;
    }

    .fotbar  ul li a:hover {
        color: #fff !important;
        background: none;
        min-height: 28px !important;
    }
    .fotbar-nav, .nav-item {
        padding: 0 !important;

    }
    .fa-fot {
        font-size: 6px !important;
        margin-top: 11px;
        padding: 0!important;
    }
    .footer{
        content: '';
        display: block;
        height: 72%;
        position: absolute;
        width: 50%;
        top: 40px;
        bottom: 0;
        left: -9999px;
        right: 0;
        border-left: 9999px solid #4f5459;
        box-shadow: 9999px 0 0 #4f5459;
    }
    .img-logo {
        position: absolute;
        bottom: 8px;
        left: 540px;
    }
    .logo {
        z-index: 2;
        top: -50px;
        left: -50px;
    }
    .show-carousel {
        top: -230px !important;
        right: -120px !important;

    }
    .navbar {
        min-width: 730px;
    }
    .media-carousel img {
        width: 154px;
        height: 259px;
    }
    /* Previous button  */
    .media-carousel .carousel-control.left {
        background-image: url("../img/slider_prev.png") !important;
        left: 0px !important;
        width: 63px;
        margin-top: 90px;
        z-index: 1;
    }

    /* Next button  */
    .media-carousel .carousel-control.right {
        background-image: url("../img/slider_next.png") !important;
        right: 0px !important;
        width: 63px;
        margin-top: 90px;
        z-index: 1;

    }
}

@media (max-width:990px) {
    .logo {
        z-index: 2;
        top: -60px !important;
        left: -120px !important;
    }
    .navbar {
        min-width: 730px;
        top: 200px;
        left: -100px;
    }

    .show-carousel {
        top: -220px !important;
    }

    .media-carousel img {
        width: 137px;
        height: 229px;
    }

    /* Previous button  */
    .media-carousel .carousel-control.left {
        background-image: url("../img/slider_prev.png") !important;
        left: 0px !important;
        width: 63px;
        margin-top: 80px;
        z-index: 1;
    }

    /* Next button  */
    .media-carousel .carousel-control.right {
        background-image: url("../img/slider_next.png") !important;
        right: 0px !important;
        width: 63px;
        margin-top: 80px;
        z-index: 1;

    }
    .text-index {
        color: #4f4f4f;
        padding: 0 20px;
        text-align: justify;
        line-height: 25px;
    }

    .glowna-pobierz {
        margin-top: 30px;
    }

    .footer {
        content: '';
        display: block;
        height: 72%;
        position: absolute;
        width: 50%;
        top: 30px;
        bottom: 0;
        left: -9999px;
        right: 0;
        border-left: 9999px solid #4f5459;
        box-shadow: 9999px 0 0 #4f5459;

    }
    .partners-img {
        position: absolute;
        top: 20px;
        right: 210px;
    }
    .img-logo {
        position: absolute;
        bottom: 3px;
        left: 370px;
    }
    .flex-center-vertically {
        position: absolute;
         padding-top: 0;
         padding-bottom: 0;
         top: -5px;
         left: 630px;
     }
    .flex-center-vertically p {
        font-size: smaller;
    }

    .fotbar {
        background: #4f5459;
        position: absolute;
        bottom: 50px;
        top: 75px;
        border-radius: 0;
        border: 0;
        margin: 0 !important;
        padding: 0 !important;
        min-height: 28px !important;
    }
    .show-menu2 {
        position: absolute;
        height: 100%;
        width: 24px;
        top: -8px;
        right: 22px;
        cursor: pointer;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }
    #phone{
        padding-left: 450px;
    }
}
@media (max-width:760px) {
    .logo {
        z-index: 2;
        left: -170px !important;
    }
    .navbar {
        min-width: 730px;
        top: 200px;
        left: -100px;
    }
    #top {
        top: -180px;
    }

    .nav>li {
        display: inline-block;
        left: 20px;
        top: -8px;
    }

    .nav>li>a {
        padding: 10px;
    }
    .media-carousel img {
        width: 119px;
        height: 200px;
    }
    .show-carousel {
        top: -180px !important;
        right: -50px !important;
    }
    /* Previous button  */
    .media-carousel .carousel-control.left {
        background-image: url("../img/slider_prev.png") !important;
        left: 0px !important;
        width: 63px;
        margin-top: 60px;
        z-index: 1;
    }

    /* Next button  */
    .media-carousel .carousel-control.right {
        background-image: url("../img/slider_next.png") !important;
        right: 0px !important;
        width: 63px;
        margin-top: 60px;
        z-index: 1;

    }
    .banner {
        margin-bottom: -170px !important;
    }
    .partners-img {
        position: absolute;
        top: 20px;
        right: -510px;
        height: 67px;
        width: 597px;
    }
    .fotbar {
        min-width: 500px !important;
        background: #4f5459;
        position: absolute;
        bottom: 50px;
        top: 40px;
        border-radius: 0;
        border: 0;
        margin: 0 !important;
        padding: 0 !important;
        min-height: 28px !important;
    }
    #phone{
        padding-left: 400px;
    }
    .fotbar-nav>li {
        left: 100px;

    }
    .flex-center-vertically {
        position: absolute;
        padding-top: 0;
        padding-bottom: 0;
        top: -5px;
        left: 590px;
    }
}
@media (max-width:450px) {

    /* navbar */
    .navbar {
        background: #d11100;
        position: relative;
        bottom: 0;
        border-radius: 0;
        border: 0;
        top: 210px;
        margin-left: 32%;
        margin-right: 44%;
        padding-top: 15px !important;
        padding-right: 0px !important;
        padding-left: 0px !important;
        min-height: 28px !important;
        min-width: 400px;
    }
    .nav>li {
        display: block;
        left: 0px;
        top: -8px;
        text-align: center;
    }
    .navbar-nav > li > a {
        padding-top:0 !important;
        padding-bottom:0 !important;

    }
    .navbar  a{
        color: #fff;
        font-size: 16px;
    }
    nav ul li a:hover {
        font-weight: bold;
        color: #d11100; !important;
        min-height: 28px !important;
    }
    .navbar-nav, .nav-item {
        padding: 0 !important;
    }
    .fa {
        visibility: hidden;
        font-size: 6px !important;
        margin-top: 11px;
        padding: 0px;
    }
    .show-carousel {
        top: 180px !important;
        right: 50px !important;
    }
    .media-carousel img {
        width: 214px;
        height: 359px;
    }
    .media-carousel .carousel-control.left {
        background-image: url("../img/slider_prev.png") !important;
        left: 0px !important;
        width: 63px;
        margin-top: 158px;
        z-index: 1;
    }

    /* Next button  */
    .media-carousel .carousel-control.right {
        background-image: url("../img/slider_next.png") !important;
        right: 0px !important;
        width: 63px;
        margin-top: 158px;
        z-index: 1;

    }
    .banner {
        margin-bottom: 260px !important;
    }
    #top {
        background-image: none;
        background-repeat: no-repeat;
        color: #fff;
        width: 100%;
        /* whatever width you want */
        display: inline-block;
        position: relative;
        background-size: contain;
        margin: 0 auto;
    }
    .logo {
        z-index: 2;
        top: 25px !important;
        left: -70px !important;

    }
    #phone{
        padding-left: 30px;
    }
    .fotbar {
        min-width: 452px !important;
        background: #4f5459;
        bottom: 50px;
        top: 266px;
        left:-15px;
        border-radius: 0;
        border: 0;
        border-top: 3px solid #fff;
        padding-top: 10px !important;
        margin: 0 !important;
        min-height: 28px !important;
    }
    .fotbar-nav>li {
        display: block;
        left: 0px;
        top: -8px;
        text-align: center;
        padding: 0 !important;

     }
    .partners-img {
        position: absolute;
        top: 20px;
        right: -310px;
        height: 45px;
        width: 400px;
    }
    .footer {
        content: '';
        display: block;
        height: 310px;
        position: absolute;
        width: 50%;
        top: 20px;
        bottom: 0;
        left: -9999px;
        right: 0;
        border-left: 9999px solid #4f5459;
        box-shadow: 9999px 0 0 #4f5459;
    }
    #bottom {
        background-image: url("../img/footer_banner.png");
        background-repeat: repeat;
        color: #fff;
        width: 100%;
        height: 555px;
        /* whatever width you want */
        display: inline-block;
        position: relative;
        background-size: contain;
        margin: 0 auto;
        padding: 0 auto;
    }
    .flex-center-vertically {
        position: absolute;
        padding-top: 0;
        padding-bottom: 0;
        top: 80px;
        left: 120px;
    }
    .flex-center-vertically p {
        font-size: large;
    }
    .img-logo {
        position: absolute;
        bottom: 4px;
        left: 220px;
    }
    .fotbar-nav>li>a{
        padding: 0 auto !important;
        margin: 0 auto !important;
    }
    .nav> li>a{
        padding: 0 auto !important;
        margin: 0 auto !important;
    }
}
@media (max-width:414px) {

    /* navbar */
    .navbar {
        background: #d11100;
        position: relative;
        bottom: 0;
        border-radius: 0;
        border: 0;
        top: 210px;
        margin-left: 28%;
        margin-right: 44%;
        padding-top: 15px !important;
        padding-right: 0px !important;
        padding-left: 0px !important;
        min-height: 28px !important;
        min-width: 400px;
    }
    .nav>li {
        display: block;
        left: 0px;
        top: -8px;
        text-align: center;
    }
    .navbar-nav > li > a {
        padding-top:0 !important;
        padding-bottom:0 !important;

    }
    .navbar  a{
        color: #fff;
        font-size: 16px;
    }
    nav ul li a:hover {
        font-weight: bold;
        color: #d11100; !important;
        min-height: 28px !important;
    }
    .navbar-nav, .nav-item {
        padding: 0 !important;
    }
    .fa {
        visibility: hidden;
        font-size: 6px !important;
        margin-top: 11px;
        padding: 0px;
    }
    .show-carousel {
        top: 110px !important;
        right: 50px !important;
    }
    .media-carousel img {
        width: 214px;
        height: 359px;
    }
    .media-carousel .carousel-control.left {
        background-image: url("../img/slider_prev.png") !important;
        left: 0px !important;
        width: 63px;
        margin-top: 158px;
        z-index: 1;
    }

    /* Next button  */
    .media-carousel .carousel-control.right {
        background-image: url("../img/slider_next.png") !important;
        right: 0px !important;
        width: 63px;
        margin-top: 158px;
        z-index: 1;

    }
    .banner {
        margin-bottom: 260px !important;
    }
    #top {
        background-image: none;
        background-repeat: no-repeat;
        color: #fff;
        width: 100%;
        /* whatever width you want */
        display: inline-block;
        position: relative;
        background-size: contain;
        margin: 0 auto;
    }
    .logo {
        z-index: 2;
        top: 25px !important;
        left: -110px !important;

    }
    #phone{
        padding-left: 30px;
    }
    .fotbar {
        min-width: 414px !important;
        background: #4f5459;
        bottom: 50px;
        top: 266px;
        left:-15px;
        border-radius: 0;
        border: 0;
        border-top: 3px solid #fff;
        padding-top: 10px !important;
        margin: 0 !important;
        min-height: 28px !important;
    }
    .fotbar-nav>li {
        display: block;
        left: 0px;
        top: -8px;
        text-align: center;
        padding: 0 !important;

    }
    .partners-img {
        position: absolute;
        top: 20px;
        right: -310px;
        height: 45px;
        width: 400px;
    }
    .footer {
        content: '';
        display: block;
        height: 310px;
        position: absolute;
        width: 50%;
        top: 20px;
        bottom: 0;
        left: -9999px;
        right: 0;
        border-left: 9999px solid #4f5459;
        box-shadow: 9999px 0 0 #4f5459;
    }
    #bottom {
        background-image: url("../img/footer_banner.png");
        background-repeat: repeat;
        color: #fff;
        width: 100%;
        height: 555px;
        /* whatever width you want */
        display: inline-block;
        position: relative;
        background-size: contain;
        margin: 0 auto;
        padding: 0 auto;
    }
    .flex-center-vertically {
        position: absolute;
        padding-top: 0;
        padding-bottom: 0;
        top: 80px;
        left: 120px;
    }
    .flex-center-vertically p {
        font-size: large;
    }
    .img-logo {
        position: absolute;
        bottom: 4px;
        left: 200px;
    }
    .fotbar-nav>li>a{
        padding: 0 auto !important;
        margin: 0 auto !important;
    }
    .nav> li>a{
        padding: 0 auto !important;
        margin: 0 auto !important;
    }
}
.h44{
    font-size: 25px;
    color: black;
}
.h11{
    font-size: 39px;
    color: black;
}
.content-label>.h11,.h44 {
    line-height: 29px;
}
.content-label2{
    left:-30px !important;
    margin-left: 40px !important;
    border-top: 20px solid #d24015 !important;
}

.dropdown-submenu {
    position: relative!important;
}

.dropdown-submenu > .dropdown-menu {
    top: 0!important;
    left: 100%!important;
    margin-top: -6px!important;
    margin-left: -1px!important;
    -webkit-border-radius: 0 6px 6px 6px!important;
    -moz-border-radius: 0 6px 6px!important;
    border-radius: 0px !important;
}

.dropdown-submenu .open  > .dropdown-menu {
    display: block;
}
.dropdown-submenu > a:after {

}

.dropdown-submenu .open  > a:after {
    border-left-color: #fff!important;
}

.dropdown-submenu.pull-left {
    float: none!important;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%!important;
    margin-left: 10px!important;
    -webkit-border-radius: 6px 0 6px 6px!important;
    -moz-border-radius: 6px 0 6px 6px!important;
    border-radius: 0px !important;
}
#contact p {
    color: black;
    line-height: 20px;
}
.pad {
    line-height: 38px !important;
}
#contact .mail {
    color: black !important;
}
#contact button {
    background: #d11100;
}
.show-on-hover:hover > ul.dropdown-menu {
    display: block !important;
}

           	.product-holder {
            		margin-top: 70px;
            		padding-right: 10px !important;
            		line-height: 3em;
            	}
                .product-holder .photo {
                    margin: 20px 0;
                    text-align: center;
                    width: 40%;
                    float: left;
                    margin-left: 3%;
                }

                .product-holder .photo img {
                    max-width: 100%;
                }

                .product-holder .description {
                    margin: -50px 0 20px 0;
                    line-height: 1.5em;
                    width: 50%;
                    margin-left: 7%;
                    display: inline-block;
                    float: left;
                    color: black;
                }

                .product-holder .description .title {
                	width: 100%;
                	font: 700 30px "Helvetica Neue",Helvetica,Arial,sans-serif;
                	color: black;
                	display: inline-block;
                	text-transform: uppercase;
                }

                .product-holder .description .content {
                	width: 100%;
                	display: inline-block;
                	margin-top: 40px;
                	line-height: 1.5em;
                }

                .product-holder .description .margin {
                	margin: 10px 0px 10px 20px;
                }

                .product-holder .technical {
                	width: 100%;
                	display: inline-block;
                	margin-top: 20px;
                	line-height: 1.5em;
                }

                .product-holder .technical table td {
                	padding: 0px 7px;
                	text-align: left !important;
                }

                .product-holder .colors {
                	margin-top: 20px;
                }

                .product-holder .colors .title {
                	text-transform: uppercase;
                	border-bottom: 6px solid #D01F27;
                	width: 100%;
                	font: 700 22px "Helvetica Neue",Helvetica,Arial,sans-serif;
                	color: black;
                	padding-bottom: 10px;
                }

                .product-holder .colors img {
                	max-width: 100%;
                	margin-top: 5px;
                }

                .product-holder .photos {
                	margin: 0px 0 50px 0;
                	display: inline-block;
                	width: 100%;
                }

                .product-holder .photos-holder {
				    display: -ms-flexbox;
				    display: -webkit-flex;
				    display: flex;
				    -webkit-flex-direction: row;
				    -ms-flex-direction: row;
				    flex-direction: row;
				    -webkit-flex-wrap: nowrap;
				    -ms-flex-wrap: nowrap;
				    flex-wrap: nowrap;
				    -webkit-justify-content: space-around;
				    -ms-flex-pack: distribute;
				    justify-content: space-around;
				    -webkit-align-content: stretch;
				    -ms-flex-line-pack: stretch;
				    align-content: stretch;
				    -webkit-align-items: center;
				    -ms-flex-align: center;
				    align-items: center;
				    width: 100%;
				    height: 200px;
				    margin-top: 20px;
				    margin-bottom: 50px;
                }

                .product-holder .photos .photo {
                	border: 1px solid #cdcdcd;
                	width: 25%;
				    display: -ms-flexbox;
				    display: -webkit-flex;
				    display: flex;
				    -webkit-flex-direction: column;
				    -ms-flex-direction: column;
				    flex-direction: column;
				    -webkit-flex-wrap: nowrap;
				    -ms-flex-wrap: nowrap;
				    flex-wrap: nowrap;
				    -webkit-justify-content: center;
				    -ms-flex-pack: center;
				    justify-content: center;
				    -webkit-align-content: stretch;
				    -ms-flex-line-pack: stretch;
				    align-content: stretch;
				    -webkit-align-items: center;
				    -ms-flex-align: center;
				    align-items: center;
				    float: left;
				    height: 200px;
                }

                .product-holder .photos .photo img {
                	max-width: 80%;
                	max-height: 180px;
                }
