/*

Theme Name: Deren
Theme URL: http://deren.com.pl
Description: Motyw dla strony Deren.com.pl
Author: Ystudio.pl
Author url: http://ystudio.pl
Version: 0.0

*/

.wpinfo {
    display: block;
    min-height: 200px;
    background: red;
    color: white;
    font-size: 1.5em;
}

